.container {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  background: #121212;
}

.main {
  
  background: linear-gradient(180deg, #1143C5 0%, #119AC5 100%);
  height: 80vh;
  margin-top: 0px;
}

.mainlogo {
 padding: 10px 25px;
}

.logo, .logo2 {
  height: 1.5em;
  margin: 2px 1px;
  
 
}

.logo2 {
  padding-top: 4px;
}


.body {
  display: flex;
  justify-content: space-between;
}
.maintitle {
  margin: 40px 70px;
  color: #FFF;
}

.title1 {
  font-family: 'Bebas Neue', cursive;  
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 60px;
  margin-bottom: 10px;
}

.title2 {
    
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

.coin {
  height: 450px;
  margin-right: 120px;
}




.footersection {
  
  height: 25vh;
  background: #121212;
  margin: 0px 70px;
  display: flex;
  justify-content: space-between;

  
}

.footertitle {
  background: linear-gradient(180deg, #1143C5 0%, #119AC5 100%);
  font-family: 'Bebas Neue', cursive;  
  font-style: normal;
  font-weight: 400;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-clip: text;    
   font-size: 40px;
   margin-top: 60px;
   margin-bottom: 0px;

}

.footert2 {
  color: #FFF;
  margin-top: 0px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 49px;
}

.media {
  margin-top: 120px;
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  margin-right: 70px;
}




.line {
  width: 80vw;
  height: 1px;
  background: linear-gradient(180deg, #1143C5 0%, #119AC5 100%);
  font-family: 'Bebas Neue', cursive;  
  font-style: normal;
  -webkit-text-fill-color: transparent;
  margin: 55px 70px ; 

}

.footer {
  display: flex;
  justify-content: space-between;
}

.footerimg {
  margin: 20px 0px 0px 70px;
  height: 15vh;
}
.logo3 {
  height: 40px;
  padding-right: 5px;
}

.logo4 {
  height: 20px;
  margin-bottom: 10px;
}

.footerright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px; 
  letter-spacing: 0.5px;
  margin-right: 100px;
  margin-top: 30px;
  color: #FFFFFF;
}


@media screen and (max-width: 600px) {

  .main {
  
    background: linear-gradient(180deg, #1143C5 0%, #119AC5 100%);
    height: 160vh;
    margin-top: 0px;
  }
  
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footersection {
  
  height: 36vh;
  background: #121212;
  margin: 0px 70px;
  display: flex;
  flex-direction: column;

  
}

.media {
  margin-top: 0px;
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
  margin-right: 70px;
}
}

@media screen and (max-width: 480px) {

  .main {
  
    height: 120vh;
    
  }
  .title1 {
    font-family: 'Bebas Neue', cursive;  
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 10px;
  }

  
.coin {
  height: 400px;
  margin-right: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footertitle {
   
   font-size: 30px;
  

}

.footer {
  display: flex;
  flex-direction: column;

}

.footert2 {
  font-size: 26px;
}

.logo3 {
  height: 20px;
  padding-right: 5px;
}

.logo4 {
  height: 10px;
  margin-bottom: 5px;
}

.footerright {
  margin-left: 70px;
  margin-top: 0px;
 
  
}

.footersection {
  
  height: 25vh;
  background: #121212;
  margin: 0px 70px;
  display: flex;
  flex-direction: column;

  
}

.footer {
  height: 10vh;
}

.line {
  margin: 55px 70px ;
  width: 60vw; 
}
}